


<!--
<mat-toolbar color="primary">
  <span class="logo">
    <mat-icon>medical_services</mat-icon>
    MyDoctorApp
  </span>
  <span class="spacer"></span>
  <button mat-button routerLink="/login">Login</button>
  <button mat-raised-button color="accent" routerLink="/register">Sign Up</button>
</mat-toolbar> -->

<div class="content">
  <section class="about">

    <div class="row">
      <div class="col-md-6">
        <img src="../../assets/undraw_doctors_p6aq.svg" alt="MyDoctorApp Logo">

      </div>
      <div class="col-md-6">
        <h1>Welcome to MyDoctorApp</h1>
        <p>Find the best doctors and book appointments online.</p>
        <!-- <button mat-raised-button color="primary" routerLink="/doctors">Find Doctors</button> -->
        <!-- <button *ngIf="!isLoggedIn" mat-button routerLink="/login">Login</button>
        <button *ngIf="!isLoggedIn" mat-raised-button color="accent" routerLink="/register">Sign Up</button> -->
  <section class="contact">
    <h2>Contact Us</h2>
    <p>If you have any questions or need assistance, feel free to reach out to us.</p>
    <p>Email: info@mydoctorapp.com</p>
    <p>Phone: 123-456-7890</p>
  </section>
      </div>
    </div>


  </section>


</div>

<footer>
  <p>&copy; 2023 MyDoctorApp. All rights reserved.</p>
</footer>
